body{
    background-color: beige;
}

.LogIn{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
}

form{
    width: 500px;
    height: 350px;
    font-size: 20px;
    border: 1px solid black !important;
    text-align: center;
    border-radius: 5px;
    border: none;
}

p{
    font-size: 45px;
    font-weight: 700;
    color: #000;
    margin-bottom: 30px;
}

input{
    margin: 10px;
    padding: 5px;
    font-size: 25px;
    width: 400px;
    border-radius: 5px;
}

#btn{
    margin: 15px 0px;
    font-size: 25px;
    color: #ffffff;
    background-color:  #000;
    border: 1px solid #000;
    border-radius: 5px;
    padding: 5px;
    width: 400px;
}

#btn:hover {
    color: #000;
    background-color:  #fff;
    border: 1px solid #000;
}

