html
  head
    title Login
    style
      include styles.css
  body
    div(class="LogIn")
      form(action = "/login", method = "POST")
        p Đăng nhập
        input(type="text", id="user", placeholder="Tên Đăng Nhập", name="username") 
        br
        input(type="password", id="pass", placeholder="Mật Khẩu", name="password")
        br
        button(id="btn") Đăng Nhập